.logo {
    width: 40px;
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.ayo-food-slider {
    background: url('https://ayo-bucket.s3.ap-southeast-1.amazonaws.com/mobile-app/slider/AyoFoodSlider.jpg');
}

.ayo-logistic-slider {
    background: url('https://ayo-bucket.s3.ap-southeast-1.amazonaws.com/mobile-app/slider/AyoBox.jpg');
} 
.ayo-handyman-slider {
    background: url('https://ayo-bucket.s3.ap-southeast-1.amazonaws.com/mobile-app/slider/AyoHandyman.jpg');
} 
.ayo-store-slider {
    background: url('https://ayo-bucket.s3.ap-southeast-1.amazonaws.com/mobile-app/slider/AyoStore2.jpg');
} 
.ayo-slider {
    height: 35vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ayo-slider h1 {
    color: #fff;
    text-shadow: 1px 3px 6px rgba(0,0,0,0.5);
}

h5.title {
    margin: 5px 0 5px 10px;
    color: #feb041;
    font-size: 16px;
}

.registration-link {
    text-align:center; 
    margin: 10px 0 15px; 
}

.registration-link a {
    text-decoration: none;
}

.registration-link a:hover {
    color: #04529b;
}

ion-card.footer {
    background-image: url('https://ayo-bucket.s3.ap-southeast-1.amazonaws.com/mobile-app/bg-img/3.jpg');
    border: 0;
    border-radius: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    padding: 20px;
    margin: 0;
    z-index: 1;
}

ion-card.footer::after {
    position: absolute;
    content: "";
    background-color: #061238;
    opacity: .75;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

ion-card h2, ion-card p  {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.3;
    color: #fff;
}

.cart-head {
    width: 1.5em;
    height: 1.5em;
    color: #000;
}
.cart-head:hover {
    color: #feb041;
}

.menu-head {
    width: 1.5em;
    height: 1.5em;
}

.cart-container {
    position: relative;
}

.cart-container ion-badge {
    position: absolute;
    top: 0;
    right: -5%;
    font-size: 10px;
    padding: 5px; 
}

ion-content {
    --background: #e7eff5;
}
