.logo {
    width: 40px;
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.ayo-food-slider {
    background: url('/assets/images/slider/AyoFoodSlider.jpg');
}

.ayo-logistic-slider {
    background: url('/assets/images/slider/AyoBox.jpg');
} 
.ayo-handyman-slider {
    background: url('/assets/images/slider/AyoHandyman.jpg');
} 
.ayo-store-slider {
    background: url('/assets/images/slider/AyoStore2.jpg');
} 
.ayo-slider {
    height: 35vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ayo-slider h1 {
    color: #fff;
    text-shadow: 1px 3px 6px rgba(0,0,0,0.5);
}

h5.title {
    margin: 5px 0 5px 10px;
    color: #feb041;
    font-size: 16px;
}

.registration-link {
    text-align:center; 
    margin: 10px 0 15px; 
}

.registration-link a {
    text-decoration: none;
}

.registration-link a:hover {
    color: #04529b;
}